@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  --dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --radius: 5px;
}

html {
  box-sizing: border-box;
  background-color: var(--light-gray);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: inherit;
  font-weight: 800;
}

span {
  display: inline-block;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: var(--white);
  box-shadow: 0px 3px 6px 0px hsl(0, 0%, 90%);
}

.header__app-mode > span {
  margin-left: 0.25rem;
}

.main {
  padding: 2rem 1rem;
}
