.details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

.details__header {
  width: 100%;
}

.details__flag {
  width: 100%;
}

.details__info {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.details__borders,
.details__name {
  width: 100%;
}

.details__name {
  font-size: 1.25rem;
}

.details__info-block p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.details__info-block span:first-of-type {
  font-weight: 600;
}

.details__borders ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.details__back,
.details__borders li {
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 1.3rem;
  border-radius: var(--radius);
  background-color: var(--elem-color);
  box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

@media screen and (min-width: 800px) {
  .details {
    gap: 4rem;
    padding: 2rem 3rem;
  }

  .details__flag {
    width: 40%;
  }
  .details__info {
    width: calc(60% - 4rem);
  }
}
