.search {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--elem-color);
  border-radius: var(--radius);
  box-shadow: 0px 0px 10px 3px var(--shadow-color);
}

.search__input {
  flex-grow: 1;
}
